body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    }
.menu {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.menu a {
    padding: 20px 0;
    background: rgba(0,0,0,0.6);
    border-radius: 15px;
    font-size: 26px;
    color: white;
    text-decoration: none;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    transition: 0.3s ease;
    display: block;
    width: 100%;
    text-align: center;
}


.menu a:hover {
    background: #00c6ff;
    transform: scale(1.1);
}


.place {
    margin-top: 30px;
    padding: 20px;
    background: rgba(0,0,0,0.2);
    border-radius: 15px;
    animation: slideIn 1s ease;
}

.place img {
    width: 300px;
    border-radius: 10px;
    margin-top: 10px;
}

.back {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background: rgba(0,0,0,0.4);
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.back:hover {
    background: black;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideIn {
    from {transform: translateY(30px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}
.hero {
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
h1 {
    font-size: 48px;
    margin-top: 60px;
    text-shadow: 0 0 10px black;
}

.subtitle {
    font-size: 24px;
    margin-top: 10px;
    text-shadow: 0 0 10px black;
}
@media (max-width: 600px) {
    h1 {
        font-size: 32px;
    }
    .subtitle {
        font-size: 18px;
    }
    .menu a {
        font-size: 18px;
        padding: 12px 20px;
    }
 .menu {
        grid-template-columns: 1fr;
    }
}
